<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.academico.minhacervejabarata">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TipoActivity"
            android:label="@string/title_activity_tipo"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.academico.minhacervejabarata.MainActivity" />
        </activity>
        <activity
            android:name=".EstabelecimentoActivity"
            android:label="@string/title_activity_estabelecimento"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.academico.minhacervejabarata.MainActivity" />
        </activity>
        <activity
            android:name=".CestaActivity"
            android:label="@string/title_activity_cesta"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.academico.minhacervejabarata.MainActivity" />
        </activity>
        <activity
            android:name=".ItensCestaActivity"
            android:label="@string/title_activity_itens_cesta"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.academico.minhacervejabarata.MainActivity" />
        </activity>
        <activity android:name=".item_lista" />
        <activity
            android:name=".MarcaActivity"
            android:label="@string/title_activity_marca"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.academico.minhacervejabarata.MainActivity" />
        </activity>
        <activity
            android:name=".AddMarcaActivity"
            android:label="@string/activity_add_marca"
            android:parentActivityName=".MarcaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.academico.minhacervejabarata.MarcaActivity" />
        </activity>
        <activity
            android:name=".AddEstabelecimentoActivity"
            android:label="@string/activity_add_mercado"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.academico.minhacervejabarata.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>